@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/MaterialIcons-Regular.40c9c4a3.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/MaterialIcons-Regular.96fa388b.woff2) format('woff2'),
       url(/MaterialIcons-Regular.3429dfd3.woff) format('woff'),
       url(/MaterialIcons-Regular.1df9cb43.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Montserrat';
    src: url('/montserrat-100-normal.528e37a6.woff2') format('woff2'), url('/montserrat-100-normal.aa6d81e9.woff') format('woff'), url('/montserrat-100-normal.9778cfe2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/montserrat-300-normal.9b3e66cd.woff2') format('woff2'), url('/montserrat-300-normal.a556932b.woff') format('woff'), url('/montserrat-300-normal.27df2654.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/montserrat-400-normal.c939c284.woff2') format('woff2'), url('/montserrat-400-normal.61bfeb48.woff') format('woff'), url('/montserrat-400-normal.77702bcf.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/montserrat-700-normal.044a811f.woff2') format('woff2'), url('/montserrat-700-normal.dd4cc21d.woff') format('woff'), url('/montserrat-700-normal.2775c4d1.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/montserrat-900-normal.a18c7f4a.woff2') format('woff2'), url('/montserrat-900-normal.ec3dd98a.woff') format('woff'), url('/montserrat-900-normal.9ad3baf3.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('/opensanslight.fb75cfb0.woff2') format('woff2'), url('/opensanslight.f01884c5.woff') format('woff'), url('/opensanslight.432a31e1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('/opensanslightitalic.897c8e7c.woff2') format('woff2'), url('/opensanslightitalic.8ec78c76.woff') format('woff'), url('/opensanslightitalic.e85f68e7.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('/opensans.dc7d3fed.woff2') format('woff2'), url('/opensans.be5ea09f.woff') format('woff'), url('/opensans.a01bf4e7.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('/opensansitalic.8272c2df.woff2') format('woff2'), url('/opensansitalic.ae48a9a4.woff') format('woff'), url('/opensansitalic.b2f5dc8a.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/opensanssemibold.cc7ac8c4.woff2') format('woff2'), url('/opensanssemibold.359c77dd.woff') format('woff'), url('/opensanssemibold.424c4e02.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('/opensanssemibolditalic.7582f75e.woff2') format('woff2'), url('/opensanssemibolditalic.cfca99fb.woff') format('woff'), url('/opensanssemibolditalic.e08cb90c.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/opensansbold.458a7ff3.woff2') format('woff2'), url('/opensansbold.4eab38b0.woff') format('woff'), url('/opensansbold.32ea57ad.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('/opensansbolditalic.4aac5a2f.woff2') format('woff2'), url('/opensansbolditalic.063280f9.woff') format('woff'), url('/opensansbolditalic.36a3e146.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('/opensansextrabold.eb663802.woff2') format('woff2'), url('/opensansextrabold.738552a6.woff') format('woff'), url('/opensansextrabold.647cb3e1.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('/opensansextrabolditalic.8d751357.woff2') format('woff2'), url('/opensansextrabolditalic.1dff4a22.woff') format('woff'), url('/opensansextrabolditalic.b804895b.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .company_icon {
  width: 40px;
  margin-right: 12.5px;
}
.logo .company_name {
  width: 53.19px;
}

.button-filled {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  height: 34px;
  color: white;
  padding: 0px 20px;
}
.button-filled div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin: auto 0px;
  align-items: center;
}
.button-filled i {
  position: absolute;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.button-light {
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  height: 30px;
  border-radius: 20px;
  background-clip: padding-box;
  background: white;
  color: #BC9CFF;
  padding: 0px 20px;
}
.button-light div {
  margin: auto 0px;
  align-items: center;
}

.button-light::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  content: "";
  z-index: -1;
  border-radius: 22px;
}

.drop-down-element {
  height: 18px;
  display: flex;
  align-items: flex-start;
}
.drop-down-element a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.drop-down-element .expand-elemet {
  line-height: 20px;
  color: rgba(31, 32, 65, 0.5);
}

.simple-element {
  height: 18px;
}
.simple-element a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}

body {
  margin: 0px 0px;
}

[class$=__header-reg-content] {
  background: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
[class$=__header-reg-content] * {
  font-family: Montserrat;
}
[class$=__header-reg-content] .header-content__company-icons {
  margin-left: 140px;
  margin-right: auto;
}
[class$=__header-reg-content] .header-content__navigation {
  display: flex;
  flex-direction: row;
  align-content: center;
}
[class$=__header-reg-content] .header-content__navigation > * {
  margin: 0px 15px;
}
[class$=__header-reg-content] .header-content__header-buttons {
  z-index: 0;
  margin-right: 140px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
[class$=__header-reg-content] .header-content__header-buttons .header-content__button-light {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}
[class$=__header-reg-content] .header-content__header-buttons .header-content__button-filled {
  z-index: 10;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  margin-left: 20px;
}

@media all and (max-width: 1250px) {
  [class$=__header-reg-content] {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  [class$=__header-reg-content] > * {
    margin: 10px 0px !important;
  }
}
@media all and (max-width: 500px) {
  [class$=__header-reg-content] {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  [class$=__header-reg-content] > * {
    flex-direction: column !important;
    align-items: center !important;
    margin: 10px 0px !important;
  }
  [class$=__header-reg-content] .header-content__navigation > * {
    margin: 10px 0px !important;
  }
  [class$=__header-reg-content] .header-content__header-buttons > * {
    margin: 5px 0px !important;
  }
}
.logo {
  display: flex;
  align-items: center;
}
.logo .company_icon {
  width: 40px;
  margin-right: 12.5px;
}
.logo .company_name {
  width: 53.19px;
}

.drop-down-element {
  height: 18px;
  display: flex;
  align-items: flex-start;
}
.drop-down-element a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}
.drop-down-element .expand-elemet {
  line-height: 20px;
  color: rgba(31, 32, 65, 0.5);
}

.simple-element {
  height: 18px;
}
.simple-element a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.username {
  display: flex;
  align-items: center;
}
.username .username__vertical-line {
  display: inline-block;
  margin-right: 30px;
}
.username .username__name {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}

body {
  margin: 0px 0px;
}

[class$=__header-no-reg-content] {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
[class$=__header-no-reg-content] * {
  font-family: Montserrat;
}
[class$=__header-no-reg-content] .header-no-reg-content__company-icons {
  margin-left: 140px;
  margin-right: auto;
}
[class$=__header-no-reg-content] .header-no-reg-content__navigation {
  display: flex;
  flex-direction: row;
  align-content: center;
}
[class$=__header-no-reg-content] .header-no-reg-content__navigation > * {
  margin: 0px 15px;
}
[class$=__header-no-reg-content] .header-no-reg-content__username {
  margin-left: 30px;
  margin-right: 140px;
}

@media all and (max-width: 1130px) {
  [class$=__header-no-reg-content] {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  [class$=__header-no-reg-content] > * {
    margin: 10px 0px !important;
  }
}
@media all and (max-width: 500px) {
  [class$=__header-no-reg-content] {
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }
  [class$=__header-no-reg-content] > * {
    flex-direction: column !important;
    align-items: center !important;
    margin: 10px 0px !important;
  }
  [class$=__header-no-reg-content] .header-no-reg-content__navigation > * {
    margin: 10px 0px !important;
  }
}
.logo {
  display: flex;
  align-items: center;
}
.logo .company_icon {
  width: 40px;
  margin-right: 12.5px;
}
.logo .company_name {
  width: 53.19px;
}

.item-list ul {
  padding-inline-start: 0px;
  list-style: none;
}
.item-list ul > li {
  color: rgba(31, 32, 65, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 20px;
}
.item-list ul :nth-child(1) {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  margin-top: 0px;
  text-transform: uppercase;
}

.footer-main-content {
  border-top: 1px solid #E5E5E5;
  padding-top: 100px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 100px;
}
.footer-main-content * {
  font-family: Montserrat;
}
.footer-main-content .footer-main-content__element-logo {
  margin-left: 140px;
  width: 260px;
}
.footer-main-content .footer-main-content__element-logo .footer-main-content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.footer-main-content .footer-main-content__element-subscribe {
  margin-right: 140px;
  width: 260px;
}
.footer-main-content .footer-main-content__element-subscribe .footer-main-content__subscribe-header {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  margin-bottom: 21px;
}
.footer-main-content .footer-main-content__element-subscribe .footer-main-content__subscribe-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.footer-main-content .footer-main-content__element-subscribe .email-submit-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  width: 260px;
  height: 44px;
}
.footer-main-content .footer-main-content__element-subscribe .email-submit-field .material-icons.email-submit-arrow {
  width: 44px;
  text-align: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.footer-main-content .footer-main-content__element-subscribe .email-submit-field #email-input {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  margin-left: 15px;
  margin-right: auto;
}
.footer-main-content .footer-main-content__element-subscribe .email-submit-field .image-select-label__cancel {
  background: none;
  border: none;
  width: 44px;
  height: 44px;
}

@media all and (max-width: 1130px) {
  .footer-main-content__element-logo {
    margin-left: 3% !important;
  }

  .footer-main-content__element-subscribe {
    margin-right: 3% !important;
  }
}
@media all and (max-width: 880px) {
  .footer-main-content {
    flex-direction: column !important;
    align-items: center;
  }
  .footer-main-content .item-list {
    width: 260px;
  }

  .footer-main-content__element-logo {
    margin-left: 0px !important;
  }

  .footer-main-content__element-subscribe {
    margin-right: 0px !important;
  }
}
.social_networks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social_networks .twitter-svg {
  margin-right: 20px;
}
.social_networks .facebook-svg {
  margin-right: 20px;
}

.footer-underline-content {
  border-top: 1px solid #E5E5E5;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
}
.footer-underline-content .footer-underline-content__copyright {
  margin-left: 140px;
  margin-right: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}
.footer-underline-content .footer-underline-content__icons {
  margin-right: 140px;
}

@media all and (max-width: 760px) {
  .footer-underline-content {
    flex-direction: column !important;
    align-items: center;
    height: 90px;
  }

  .footer-underline-content__copyright {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer-underline-content__icons {
    margin-right: 0px !important;
  }
}
.list-of-counted-items {
  display: flex;
  flex-direction: column;
  height: 159px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  background: white;
}
.list-of-counted-items .list-of-counted-items__down-buttons {
  margin-top: 19px;
}
.list-of-counted-items .list-of-counted-items__down-buttons :first-child {
  margin-left: 15px;
}
.list-of-counted-items .list-of-counted-items__down-buttons :last-child {
  margin-right: 7px;
}
.list-of-counted-items .clear-accept-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.list-of-counted-items .clear-accept-buttons .clean-button {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}
.list-of-counted-items .clear-accept-buttons .save-button {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
}
.list-of-counted-items .list-of-counted-items__item {
  margin-top: 7px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-of-counted-items .list-of-counted-items__item .list-of-counted-items__item-description {
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  margin-left: 15px;
}
.list-of-counted-items .list-of-counted-items__item .button {
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
  color: rgba(31, 32, 65, 0.5);
}
.list-of-counted-items .list-of-counted-items__item .item-number {
  width: 20px;
  text-align: center;
}
.list-of-counted-items .list-of-counted-items__item .pushed-up {
  background: rgba(179, 179, 179, 0.479);
}
.list-of-counted-items .list-of-counted-items__item .button_minus {
  line-height: 25px;
  margin-right: 10px;
}
.list-of-counted-items .list-of-counted-items__item .button_plus {
  line-height: 30px;
  margin-left: 10px;
  margin-right: 7px;
}

.button-filled {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  height: 34px;
  color: white;
  padding: 0px 20px;
}
.button-filled div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin: auto 0px;
  align-items: center;
}
.button-filled i {
  position: absolute;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.calendar {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
.calendar .calendar__selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}
.calendar .calendar__selector .calendar__date {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
}
.calendar .calendar__selector .material-icons.calendar-arrow {
  width: 44px;
  text-align: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-user-select: none;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.calendar .calendar__main .calendar__days-name {
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.calendar .calendar__main .calendar__days-name * {
  height: 40px;
  line-height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #BC9CFF;
}
.calendar .calendar__main .calendar__days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.calendar .calendar__main .calendar__days .day {
  cursor: pointer;
  -webkit-user-select: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  width: 14.2%;
}
.calendar .calendar__main .calendar__days .pushed-up {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  color: #FFFFFF !important;
}
.calendar .calendar__main .calendar__days .pushed-down {
  background: linear-gradient(180deg, rgba(111, 207, 151, 0.445) 0%, rgba(102, 210, 234, 0.466) 100%);
  border-radius: 22px;
  color: #FFFFFF !important;
}
.calendar .calendar__main .calendar__days .mouse-on {
  background: rgba(145, 145, 145, 0.11);
  border-radius: 22px;
}
.calendar .calendar__main .calendar__days .other-month-day {
  color: rgba(31, 32, 65, 0.25);
}
.calendar .calendar__main .calendar__days .curr-month-day {
  color: rgba(31, 32, 65, 0.5);
}
.calendar .calendar__main .calendar__days .selected-day {
  z-index: 10;
  font-weight: bold;
  border-radius: 22px;
  color: #FFFFFF !important;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
}
.calendar .calendar__main .calendar__days .selected-day-in-period {
  position: relative;
  z-index: 10;
  font-weight: bold;
  border-radius: 22px;
  color: #FFFFFF !important;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
}
.calendar .calendar__main .calendar__days .selected-day-in-period.start::before {
  width: 20px;
  height: inherit;
  content: "";
  right: 0px;
  z-index: -1;
  position: absolute;
  border-radius: 0px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 80%);
}
.calendar .calendar__main .calendar__days .selected-day-in-period.end::before {
  width: 20px;
  height: inherit;
  content: "";
  left: 0px;
  z-index: -1;
  position: absolute;
  border-radius: 0px;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 80%);
}
.calendar .calendar__main .calendar__days .day-in-period {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 80%);
}
.calendar .clear-accept-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.calendar .clear-accept-buttons .clean-button {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: rgba(31, 32, 65, 0.5);
}
.calendar .clear-accept-buttons .save-button {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #BC9CFF;
}
.calendar .calendar__down-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

[class$=__date-input] {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-top: 30px;
}
[class$=__date-input] :nth-child(1) {
  margin-right: auto;
}
[class$=__date-input] .date-input-place {
  width: 47.2%;
}
[class$=__date-input] .date-input-place input {
  background: none;
  border: none;
  box-sizing: border-box;
  padding-left: 15px;
}
[class$=__date-input] .date-input-place .date-input-field {
  display: flex;
  flex-direction: row;
  align-content: center;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
[class$=__date-input] .date-input-place .date-input-field :first-child {
  width: 70%;
  padding-top: 12px;
  padding-bottom: 12px;
}
[class$=__date-input] .date-input-place .date-input-field .two-places-expand-elemet {
  cursor: pointer;
  text-align: center;
  line-height: 42px;
  width: 28%;
  color: rgba(31, 32, 65, 0.5);
}
[class$=__date-input] .date-input-place .end-date {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

[class$=__one-input] {
  margin-top: 24px;
  width: 100%;
}
[class$=__one-input] .one-input-field {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  display: flex;
  align-content: center;
}
[class$=__one-input] .one-input-field .one-input-text {
  margin-right: auto;
  background: none;
  border: none;
  box-sizing: border-box;
  padding-left: 13px;
  text-overflow: ellipsis;
  width: 87%;
}
[class$=__one-input] .one-input-field .one-input-expand-elemet {
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  line-height: 42px;
  width: 16.5%;
  color: rgba(31, 32, 65, 0.5);
}

[class$=__search-form] {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 374px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
}
[class$=__search-form] .search-form__button-filled {
  width: 100%;
  height: 44px;
  padding: 0px;
  margin-top: 31px;
  margin-bottom: 30px;
}
[class$=__search-form] .search-form__button-filled .additional-icon {
  left: 86%;
}
[class$=__search-form] .search-form-desctiption {
  margin-top: 40px;
}
[class$=__search-form] form {
  width: 100%;
}
[class$=__search-form] input {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  height: 42px;
  background: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
}
[class$=__search-form] .search-form__date-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
[class$=__search-form] .search-form__date-input :nth-child(1) {
  margin-right: auto;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place {
  width: 47.2%;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place input {
  background: none;
  border: none;
  box-sizing: border-box;
  padding-left: 15px;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place .search-form__date-input-field {
  display: flex;
  flex-direction: row;
  align-content: center;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place .search-form__date-input-field .search-form__start-date {
  width: 106px;
  padding-top: 12px;
  padding-bottom: 12px;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place .search-form__date-input-field .search-form__end-date {
  width: 106px;
  padding-top: 12px;
  padding-bottom: 12px;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place .search-form__date-input-field .calendar-expand-elemet {
  cursor: pointer;
  text-align: center;
  line-height: 42px;
  width: 44px;
  color: rgba(31, 32, 65, 0.5);
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place .search-form__start-date-desctiption {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 9px;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #1F2041;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place .search-form__end-date-desctiption {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 9px;
  margin-bottom: 7px;
  text-transform: uppercase;
  color: #1F2041;
}
[class$=__search-form] .search-form__date-input .search-form__date-input-place .search-form__end-date {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}
[class$=__search-form] .search-form__people-input .search-form__number-of-people-desctiption {
  font-family: Montserrat;
  width: 320px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
[class$=__search-form] .search-form__people-input .search-form__number-of-people-input-field {
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 318px;
  border-radius: 4px;
  display: flex;
  align-content: center;
}
[class$=__search-form] .search-form__people-input .search-form__number-of-people-input-field .search-form__number-of-people {
  margin-right: auto;
  background: none;
  border: none;
  box-sizing: border-box;
  padding-left: 13px;
  text-overflow: ellipsis;
  width: 280px;
}
[class$=__search-form] .search-form__people-input .search-form__number-of-people-input-field .people-expand-elemet {
  -webkit-user-select: none;
  cursor: pointer;
  text-align: center;
  line-height: 42px;
  width: 44px;
  color: rgba(31, 32, 65, 0.5);
}
[class$=__search-form] .search-form-calendar {
  left: 30px;
  right: 30px;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 200px;
}
[class$=__search-form] .search-form-list {
  left: 30px;
  right: 30px;
  display: none;
  position: absolute;
  top: 270px;
  z-index: 100;
}

.calender-main {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media all and (max-width: 380px) {
  .search-form {
    width: 330px;
    height: 364px;
  }
}
[class$=__reg-form] {
  width: 380px;
  padding-left: 30px;
  padding-right: 30px;
  height: 646px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
[class$=__reg-form] .reg-form-desctiption {
  margin-top: 40px;
  margin-bottom: 20px;
}
[class$=__reg-form] .input-field {
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
[class$=__reg-form] .input-field::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(31, 32, 65, 0.25);
}
[class$=__reg-form] .reg-form-sur-name-input {
  margin-bottom: 11px;
}
[class$=__reg-form] .reg-form-gender-select-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
[class$=__reg-form] .reg-form-gender-select-container label {
  -webkit-user-select: none;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}
[class$=__reg-form] .reg-form-gender-select-container label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: -30px;
  bottom: 1px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}
[class$=__reg-form] .reg-form-gender-select-container label .selected {
  display: none;
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -26px;
  top: 3px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 10px;
}
[class$=__reg-form] .reg-form-gender-select-container input[type=radio]:checked + label:before {
  border: 1px solid #BC9CFF;
}
[class$=__reg-form] .reg-form-gender-select-container input[type=radio]:checked + label {
  color: rgba(31, 32, 65, 0.75);
}
[class$=__reg-form] .reg-form-gender-select-container input[type=radio]:checked + label .selected {
  display: block;
}
[class$=__reg-form] .reg-form-gender-select-container input[type=radio] {
  display: none;
}
[class$=__reg-form] .reg-form-gender-select-container .reg-form-male-gender {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
[class$=__reg-form] .reg-form-gender-select-container .reg-form-female-gender {
  display: flex;
  flex-direction: row;
}
[class$=__reg-form] .reg-form-user-info-container {
  margin-top: 23px;
}
[class$=__reg-form] .reg-form-date-of-birth-select-container .reg-form-date-input {
  margin-bottom: 0px;
}
[class$=__reg-form] .reg-form-special-checkbox {
  display: flex;
  align-content: center;
}
[class$=__reg-form] .reg-form-special-checkbox label {
  -webkit-user-select: none;
  margin-left: 50px;
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
}
[class$=__reg-form] .reg-form-special-checkbox label:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: -50px;
  bottom: 1px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}
[class$=__reg-form] .reg-form-special-checkbox label .selected {
  display: block;
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -46px;
  top: 3px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
}
[class$=__reg-form] .reg-form-special-checkbox input[type=checkbox]:checked + label:before {
  border: 1px solid #BC9CFF;
}
[class$=__reg-form] .reg-form-special-checkbox input[type=checkbox]:checked + label {
  color: rgba(31, 32, 65, 0.75);
}
[class$=__reg-form] .reg-form-special-checkbox input[type=checkbox]:checked + label .selected {
  left: -26px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
[class$=__reg-form] .reg-form-special-checkbox input[type=checkbox] {
  display: none;
}
[class$=__reg-form] .reg-form-button-filled {
  width: 100%;
  height: 44px;
  padding: 0px;
  margin-top: 24px;
  margin-bottom: 30px;
}
[class$=__reg-form] .reg-form-button-filled .additional-icon {
  left: 86%;
}
[class$=__reg-form] .reg-form-enter-redirect {
  display: flex;
  flex-direction: row;
  align-items: center;
}
[class$=__reg-form] .reg-form-enter-redirect .reg-form-enter-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-right: auto;
}
[class$=__reg-form] .reg-form-enter-redirect .reg-form-button-light {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

[class$=__enter-form] {
  width: 380px;
  padding-left: 30px;
  padding-right: 30px;
  height: 358px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
[class$=__enter-form] .input-field {
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
[class$=__enter-form] .input-field::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(31, 32, 65, 0.25);
}
[class$=__enter-form] .enter-form-desctiption {
  margin-top: 40px;
  margin-bottom: 20px;
}
[class$=__enter-form] .reg-form-password-input {
  margin-bottom: 20px;
}
[class$=__enter-form] .enter-form-button-filled {
  width: 100%;
  height: 44px;
  padding: 0px;
  margin-bottom: 30px;
}
[class$=__enter-form] .enter-form-button-filled .additional-icon {
  left: 86%;
}
[class$=__enter-form] .enter-form-enter-redirect {
  display: flex;
  flex-direction: row;
  align-items: center;
}
[class$=__enter-form] .enter-form-enter-redirect .enter-form-reg-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-right: auto;
}
[class$=__enter-form] .enter-form-enter-redirect .enter-form-button-light {
  box-sizing: border-box;
  width: 95px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.text-header {
  font-family: Open Sans;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}

.sub-text-header {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 9px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 8px;
}

header .landing__header-no-reg-content {
  display: none;
}

.main .landing-page__search-form {
  display: none;
  position: absolute;
  top: 20%;
  left: 140px;
}
.main .landing-page__reg-form {
  display: none;
  position: absolute;
  top: 20%;
  left: 140px;
  z-index: 0;
}
.main .landing-page__enter-form {
  position: absolute;
  top: 20%;
  left: 140px;
  z-index: 0;
}

.landing-page-footer-underline {
  margin-top: 1px;
}

* {
  font-family: Montserrat;
}

.main-image {
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: -1000;
}

.filler {
  background-image: url("/FoneImage.5fc8bdd0.svg");
  background-size: cover;
  width: 100%;
  padding-bottom: 56%;
}

@media all and (max-width: 1250px) {
  .filler {
    padding-bottom: 85%;
  }

  .main-image {
    width: 200%;
  }

  .landing-page__search-form {
    top: 30% !important;
  }

  .landing-page__reg-form {
    top: 30% !important;
  }

  .landing-page__enter-form {
    top: 30% !important;
  }
}
@media all and (max-width: 880px) {
  .filler {
    padding-bottom: 150%;
  }

  .main-image {
    margin-top: 100px;
    width: 200%;
  }

  .landing-page__search-form {
    top: 0;
    bottom: 0;
    left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-page__reg-form {
    top: 0;
    bottom: 0;
    left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-page__enter-form {
    top: 0;
    bottom: 0;
    left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 580px) {
  .landing-page__search-form {
    top: 200px !important;
  }

  .landing-page__reg-form {
    top: 200px !important;
  }

  .landing-page__enter-form {
    top: 200px !important;
  }
}
@media all and (max-width: 500px) {
  .filler {
    padding-bottom: 180%;
  }

  .main-image {
    margin-top: 100px;
    width: 400%;
  }

  .landing-page__search-form {
    top: 450px !important;
  }

  .landing-page__reg-form {
    top: 450px !important;
  }

  .landing-page__enter-form {
    top: 450px !important;
  }
}
@media all and (max-width: 400px) {
  div.filler {
    padding-bottom: 250%;
  }

  .search-form__button-filled .additional-icon {
    left: 84% !important;
  }

  div.landing-page__search-form {
    width: 100%;
  }

  div.landing-page__reg-form {
    width: 100%;
  }

  div.landing-page__enter-form {
    width: 100%;
  }
}
@media all and (max-width: 346px) {
  .main div.landing-page__search-form {
    height: 400px;
  }
  .main div.landing-page__reg-form {
    height: 680px;
  }
  .main div.landing-page__reg-form .reg-form-special-checkbox label {
    font-size: 13px;
  }
}

/*# sourceMappingURL=/landing-page.976fd751.css.map */